---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1>Amo auth</h1>


		<script>

			function kek(e) {
				console.log(e, "error");
			}
		</script>
		<script
			class="amocrm_oauth"
			charset="utf-8"
			data-name="Integration name"
			data-description="Integration description"
			data-redirect_uri="https://amo-auth-96.netlify.app/"
			data-secrets_uri="https://webhook.site/a1dd5f86-6cbc-4c0d-9517-b56600cfa066"
			data-scopes="crm,notifications"
			data-title="Button"
			data-compact="false"
			data-class-name="className"
			data-color="default"
			data-state="state"
			data-error-callback="functionName"
			data-mode="popup"
			src="https://www.amocrm.ru/auth/button.min.js"
		></script>
	</body>
</html>
